<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h3 class="muted"><a href="@Root/part1.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <a href="@Root/index.html">
            <!--<img src="@Root/images/logo.png" style="width:99px;height:55px;margin:10px 0px 0px 35px;border-style:none;" />-->
          </a>

          <ul class="nav nav-list" id="menu">
            <li class="nav-header">@Properties["project-name"]</li>
            <li class="divider"></li>
            <li><a href="@Properties["project-github"]">GitHub上のソースコード</a></li>

            <li class="nav-header">チュートリアル</li>
            <li><a href="@Root/part1.html">パート1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
  </html>